.btn-primary {
    /*background: #05386b !important;*/
    /*border: 1px solid #05386b !important;*/
}

.login-wrapper .form-wrapper {
    width: 100%;
    background: #f8f9fa !important;
}

.login-form {
    width: 100%;
    max-width: 400px;
}

#login-image {
    background-image: url('/resources/images/project-1.jpg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) {
    .login-wrapper > .row {
        height: 100vh;
        margin-top: 90px;
    }
}

.errorMsg, .errors{
    color: red;
}


.successMsg, .errorsProfile{
    color: green;
}

